<!doctype html>
<html>
  <head>
    <!-- Place your kit's code here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>

  <div class="container">
  <div class="row">
	<div class="col border">
	  <div>
	    <div class="btn-group btn-group-toggle" data-toggle="buttons">
	      <label class="btn btn-secondary active">
		<input type="radio" name="options" id="option1" autocomplete="off" checked> Round #1
	      </label>
	      <label class="btn btn-secondary">
		<input type="radio" name="options" id="option2" autocomplete="off"> Round #2
	      </label>
	    </div>
	  </div>
	  <div>
	    <i class="fas fa-3x fa-dice-one"></i>
	    <i class="fas fa-3x fa-dice-two"></i>
	    <i class="fas fa-3x fa-dice-three"></i>
	    <i class="fas fa-3x fa-dice-four"></i>
	    <i class="fas fa-3x fa-dice-five"></i>
	    <i class="fas fa-3x fa-dice-six"></i>
	  </div>
	  <div>
	    <i class="fas fa-3x fa-dice-one"></i>
	    <i class="fas fa-3x fa-dice-two"></i>
	    <i class="fas fa-3x fa-dice-three"></i>
	    <i class="fas fa-3x fa-dice-four"></i>
	    <i class="fas fa-3x fa-dice-five"></i>
	    <i class="fas fa-3x fa-dice-six"></i>
	  </div>
	  <div>
	    <i class="fas fa-3x fa-dice-one"></i>
	    <i class="fas fa-3x fa-dice-two"></i>
	    <i class="fas fa-3x fa-dice-three"></i>
	    <i class="fas fa-3x fa-dice-four"></i>
	    <i class="fas fa-3x fa-dice-five"></i>
	    <i class="fas fa-3x fa-dice-six"></i>
	  </div>
	  <div>
	    <i class="fas fa-3x fa-dice-one"></i>
	    <i class="fas fa-3x fa-dice-two"></i>
	    <i class="fas fa-3x fa-dice-three"></i>
	    <i class="fas fa-3x fa-dice-four"></i>
	    <i class="fas fa-3x fa-dice-five"></i>
	    <i class="fas fa-3x fa-dice-six"></i>
	  </div>
	  <div>
	    <i class="fas fa-3x fa-dice-one"></i>
	    <i class="fas fa-3x fa-dice-two"></i>
	    <i class="fas fa-3x fa-dice-three"></i>
	    <i class="fas fa-3x fa-dice-four"></i>
	    <i class="fas fa-3x fa-dice-five"></i>
	    <i class="fas fa-3x fa-dice-six"></i>
	  </div>	
	  <div>
	    <button onclick="onClickGoButton()" type="button" class="btn btn-link">Go</button>
	  </div>
	</div>
	<!-- end box 1 -->

	<div class="col border" id="scoreTableDiv">
	</div>
	</div>

  	<div class="row" style='text-align: center; margin-top: 20px; margin-bottom: 30px;'>
			<div class="col">
				<form action="#" id="newPlayerForm">
					<input type="text" id="fname" name="fname">
					<input type="button" value="Ajouter un joueur" onclick="addPlayer()">
				</form>
			</div>		
		</div>
	</div>

  <script>
  	var players = [];
  	var coups = ['1', '2', '3', '4', '5', '6', 'Min', 'Max', 'Brelan', 'Carré', 'Pte suite', 'Gde suite', 'Yams', 'Bonus', 'Total']

  	function addPlayer() {
  		var playerName = document.getElementById('fname').value;
  		players.push(playerName);
  		resetTable();
  	}

	  document.getElementById('newPlayerForm').addEventListener('submit', function(e) {
	    addPlayer();
	    e.preventDefault();
		}, false);

    function onClickGoButton() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', "/compute");
        xhr.onload = function(evt) {
            response = evt.target.response;
            console.log(response);
        };
        xhr.send(JSON.stringify({toto: 'tata'}));
    }

    function resetTable(){
  		var tableDiv = document.getElementById("scoreTableDiv");
      tableDiv.innerHTML = '';

      if (players.length > 0) {
        tbl = document.createElement('table');
        tbl.classList.add('table');
        tbl.classList.add('table-sm');
        tbl.id = 'scoreTable';

        // thead
        thead = document.createElement('thead');
        var tr = document.createElement('tr');
        thead.appendChild(tr);
        var th = document.createElement('th');
        tr.appendChild(th);          
        for (var j = 0; j < players.length; j++) {
       		var th = document.createElement('th');
        	th.appendChild(document.createTextNode(players[j]));
        	tr.appendChild(th);
        }
        tbl.appendChild(thead);

        // tbody
        tbody = document.createElement('tbody');
        for (var i = 0; i < coups.length; i++){
          var tr = document.createElement('tr');
          var th = document.createElement('th');
          th.appendChild(document.createTextNode(coups[i]));
          tr.appendChild(th);
          for (var j = 0; j < players.length; j++){
            var td = document.createElement('td');
            td.appendChild(document.createTextNode(0));
            tr.appendChild(td);
          }
          tbody.appendChild(tr);
        }
        tbl.appendChild(tbody);
        tableDiv.appendChild(tbl);
    	} else {
				tableDiv.appendChild(document.createTextNode('Ajoute des joueurs wesh'));
    	}
		}	    

    resetTable()
  </script>
</html>
